.image-section {
  height: 85px;
  width: 85px;
  padding: 0px;
}

.image-card {
  height: 85px;
  width: 85px;
  border-radius: 100%;
}

.name-title {
  font-family: "Mitr";
  font-size: 30px;
}

.job-title {
  font-family: "Mitr";
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
}

.job-description {
  font-family: "Mitr";
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
}
