/** Bootstrap overrides **/
.navbar-brand {
  color: grey;
  font-size: 24px;
  font-weight: 400;
  font-family: Mitr;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: grey !important;
}

/** Ends bootstrap overrides **/
