/** app-wide style configs **/
body {
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: grey !important;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

/** Ends app-wide style configs **/

/** Bootstrap overrides **/

/** Ends bootstrap overrides **/
