/** app-wide style configs **/
body {
  padding-top: 56px;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: grey !important;
}
/** Ends app-wide style configs **/


/** Bootstrap overrides **/

/** Ends bootstrap overrides **/

